
.visible{
    display:block;
}
.notVisible{
    display: none;
}
#toggleDiv1 hr:last-child{
    display: none;
}
#toggleDiv2 hr:last-child{
    display: none;
}
#commentContainer hr:last-child{
    display: none;
}
#toggleContainer{
    border:1px solid black;
    width:70%;
    padding:20px;
    margin:0 auto;
}
#commentContainer{
    border:1px solid black;
    width:70%;
    padding:20px;
    margin:0 auto;
}
.done td{
    text-decoration: line-through;
    background-color: #d4edda;
}
.status{
    text-decoration: none;
}
.active:hover{
    border-radius: 3px;
    background-color: #0062cc;
}